.keyboard-wrapper {
    display: flex;
    direction: row;
    flex-flow: column wrap;
    justify-content: center;
    gap: 10px;
}

.keyboard-row {
    display: flex;
    gap: 5px;
    justify-content: center;
    width: 100%;
}

.keyboard-row:nth-child(2) {
    max-width: 90%;
    margin: 0 auto;
}


.keyboard-letter {
    border: 1px solid;
    flex: 1;
    text-align: center;
    padding: 10px 5px;
    border-radius: 5px;
}

.special-letter {
    font-size: small;
}