.keyboard-wrapper {
    display: flex;
    direction: row;
    flex-flow: column wrap;
    justify-content: center;
    gap: 8px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.keyboard-letter {
    border: 0;
    flex: 1;
    margin: 0px 5px 0px 0px;
    color: black;
    background-color: lightgray;
    font-weight: bold;
    text-align: center;
    padding: 15px 5px;
    border-radius: 5px;
}

.keyboard-letter:last-of-type {
    margin: 0px;
}

.special-letter {
    font-size: x-small;
    flex: 1.5;
}

.letter-spacer {
    margin: 0px;
    flex: 0.5;
}