.duel-board-container {
}

.opponent-board {
    filter: blur(15px);
    transform: scale(0.5);
}

.my-board {
    position: relative;
}

.blurred {   
    /* filter: blur(12px); */
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.unclickable {
    pointer-events: none;
}